@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
}

a {
    text-decoration: none;
}

body {
    margin: auto;
}

.logo {
    height: 10vh;
    background: #FFFFFF;
    z-index: 2;
}

nav a {
    color: #ffffff;
}

nav {
    color: #ffffff;
    display: flex;
    position: absolute;
    top: 10vh;
    background: #239017;
    height: 8vh;
    width: 100vw;
    justify-content: space-around;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.nav-list {
    font-family: sans-serif;
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-top: 1.5vh;
    margin-right: 3vw;
}

.navbar-spacing {
    width: 36vw;
}

.titulo {
    font-family: Poppins;
    font-size: 15pt;
    line-height: 45px;
    color: #239017;
    position: absolute;
    top: 30vh;
    left: 15vw;
    width: 30vw;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: #239017;
    position: absolute;
    top: 45vh;
    left: 15vw;
    width: 32vw;
}

.btn1 {
    justify-self: center;
    font-family: Poppins;
    font-size: 15pt;
    color: #FFFFFF;
    background: #71BD39;
    width: 332px;
    height: 67.64px;
    border-radius: 30px;
    border-style: none;
    transition: 0.5s;
}

.btn1:hover {
    width: 340px;
    height: 70px;
    font-size: 16pt;
    opacity: 0.9;
    transition: 0.5s;
}

.home-img {
    position: absolute;
    top: 23vh;
    left: 50vw;
}